html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Noto Sans TC', sans-serif;
}

div.home{
    margin: 2em auto;
    align-content: center;
    text-align: center;
    width: 960px;
}

div.row{
    margin: 2em auto;
}

div.column{
    margin: auto auto;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: large;
}

a.column{
    max-width: 240px;
    margin: auto auto;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: large;
    color: black;
    text-decoration: none;
}

.column p{
    margin: auto 0px;
}

div.biography img {
    padding: 1em;
}

div.biography p {
    text-align: left;
}

div.biography {
    margin: 2em auto;
    align-content: center;
    text-align: center;
    font-size: x-large;
    max-width: 960px;
    font-family: 'Heebo', sans-serif;
}

div.quiz {
    margin: 1em auto;
    align-content: left;
    text-align: center;
    font-size: x-large;
    max-width: 960px;
    font-family: 'Heebo', sans-serif;
}

div.quiz button {
    font-size: xx-large;
}

div.question{
    margin: 1.5em 1em;
    padding: 3em;
    border-radius: 30px;
    background: lightgrey;
    align-content: center;
    text-align: center;
}

div.answer {
    margin: 1em 4em;
    padding: 1em;
    border-radius: 18px 60px;
    border: 4px solid #AFCBFF;
    align-content: left;
    text-align: left;
    cursor: pointer;
}

div.answer:hover {
    background: #AFCBFF;
}